{% extends 'base.html.twig' %}

{%block title %}
    {{ parent() }} | CGU
{% endblock %}

{%block body %}
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet dicta dolore earum eum labore libero non
            porro soluta veniam! Ad asperiores delectus distinctio mollitia nobis odit optio quis veniam?</p>
        <p>Aliquam beatae delectus deserunt esse expedita facilis id itaque, laboriosam maiores non provident quos
            reiciendis repudiandae sit totam. Aliquam aliquid doloremque esse illum iusto laborum molestias perspiciatis
            sunt unde voluptatem!</p>
        <p>Ad aliquid animi atque autem, cupiditate debitis doloremque dolores ducimus eligendi excepturi fugiat illum
            impedit in iusto maxime natus nesciunt nihil nostrum obcaecati, odio omnis quasi quisquam ratione saepe
            voluptatum!</p>
    </section>

    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet dicta dolore earum eum labore libero non
            porro soluta veniam! Ad asperiores delectus distinctio mollitia nobis odit optio quis veniam?</p>
        <p>Aliquam beatae delectus deserunt esse expedita facilis id itaque, laboriosam maiores non provident quos
            reiciendis repudiandae sit totam. Aliquam aliquid doloremque esse illum iusto laborum molestias perspiciatis
            sunt unde voluptatem!</p>
        <p>Ad aliquid animi atque autem, cupiditate debitis doloremque dolores ducimus eligendi excepturi fugiat illum
            impedit in iusto maxime natus nesciunt nihil nostrum obcaecati, odio omnis quasi quisquam ratione saepe
            voluptatum!</p>
    </section>

    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet dicta dolore earum eum labore libero non
            porro soluta veniam! Ad asperiores delectus distinctio mollitia nobis odit optio quis veniam?</p>
        <p>Aliquam beatae delectus deserunt esse expedita facilis id itaque, laboriosam maiores non provident quos
            reiciendis repudiandae sit totam. Aliquam aliquid doloremque esse illum iusto laborum molestias perspiciatis
            sunt unde voluptatem!</p>
        <p>Ad aliquid animi atque autem, cupiditate debitis doloremque dolores ducimus eligendi excepturi fugiat illum
            impedit in iusto maxime natus nesciunt nihil nostrum obcaecati, odio omnis quasi quisquam ratione saepe
            voluptatum!</p>
    </section>
{% endblock %}