{% extends 'base.html.twig' %}

{% block body %}
    <h2>Home Page</h2>
    {% for acc in accomodations %}
        <a href="{{ path('accomodation_show', {'id': acc.id}) }}"><h4>{{ acc.type }}</h4></a>
    {%endfor %}
{% endblock %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

