{% extends 'base.html.twig' %}

{%block title %}
    {{ parent() }} | Legal Notice
{% endblock %}

{%block body %}
    <h2>Legal Notice</h2>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque, dolore dolorum earum enim neque
            praesentium provident quasi repellat tempore unde voluptates voluptatibus. At inventore mollitia non
            perspiciatis suscipit unde.</p>
        <p>Alias atque consequuntur corporis debitis eum exercitationem hic ipsam, labore maxime omnis, placeat quasi
            quia repellendus rerum tempore veritatis voluptatem! Distinctio dolor, quibusdam? Blanditiis cum iure
            molestias omnis porro quibusdam.</p>
        <p>A ab adipisci animi asperiores commodi consequuntur dolor, dolorem ducimus eligendi ex maiores necessitatibus
            odit officia pariatur quasi qui quod recusandae, saepe sequi voluptas! Cupiditate neque nesciunt sequi
            temporibus ullam!</p>
        <p>Ad, aspernatur cumque distinctio eaque earum eligendi illum iure maiores maxime minus modi mollitia nobis
            nostrum officia quibusdam quidem quos reiciendis, repellendus repudiandae, suscipit tempore temporibus ullam
            veritatis vitae voluptate.</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa esse id in itaque molestias quidem
            rem sint tenetur voluptatem. Alias atque debitis eaque exercitationem libero nihil perferendis veritatis,
            voluptatibus.</p>
        <p>Aperiam, sit, vero. Accusantium architecto asperiores atque cupiditate distinctio earum et expedita,
            explicabo harum in inventore ipsam laudantium magnam minus necessitatibus nisi non, numquam obcaecati
            officiis quaerat quo tempore vel.</p>
        <p>Ad adipisci asperiores commodi id iure natus reprehenderit suscipit voluptates? Commodi dolorem, enim esse et
            fuga ipsam iure laboriosam minus mollitia nihil qui quia repudiandae rerum veniam voluptates! Neque,
            pariatur.</p>
        <p>Alias illum laudantium nostrum omnis possimus quis quisquam saepe suscipit tempore totam! Animi aspernatur
            beatae dolores illum iste nesciunt sunt. A cumque excepturi explicabo officia optio placeat quis sapiente
            voluptatem!</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda consectetur corporis, cum deleniti
            dolore dolores expedita facilis maxime minima mollitia, nisi officiis optio qui quis rerum sapiente veniam
            voluptatibus?</p>
        <p>Accusantium atque beatae commodi deserunt dicta doloribus ducimus eius enim error eum facilis fugiat in
            numquam odio quos rem repudiandae rerum saepe similique sint, sunt ullam veritatis? Est maxime, quia!</p>
        <p>Amet architecto cum deserunt doloremque ducimus labore magnam molestias nesciunt nostrum numquam obcaecati
            officiis optio quam qui similique, sit soluta, tempore totam? Accusamus aliquid beatae eaque ipsa modi non
            perferendis.</p>
        <p>Aperiam aspernatur autem beatae blanditiis culpa, eligendi hic illo ipsam nulla numquam, obcaecati odit quam
            quas qui quos reiciendis sapiente sunt tempora vel velit veritatis voluptatem voluptatibus voluptatum.
            Placeat, repellendus.</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad at dolore eligendi ex harum ipsam
            iste, natus nobis odit, pariatur quae quam qui quia quo sint suscipit veniam vitae.</p>
        <p>Assumenda aut blanditiis eius, neque pariatur quam ut voluptatibus. Amet beatae debitis error ipsum minima
            officiis possimus quidem! A commodi eos, exercitationem libero magnam magni modi nam officia tenetur
            voluptates.</p>
        <p>Aliquid aperiam asperiores cum cumque delectus dolorem ducimus, explicabo hic labore non nostrum praesentium
            quo saepe similique temporibus unde vel! Ad atque dolores doloribus eligendi fugit molestiae, nesciunt nobis
            nulla.</p>
        <p>At consectetur corporis culpa cumque cupiditate dolor dolore incidunt ipsa ipsam itaque nihil nisi provident
            quaerat, quas recusandae repellat soluta. Ipsum, nobis odit? Distinctio, dolores excepturi exercitationem
            nulla porro tempora.</p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque beatae blanditiis facere fuga inventore
            labore nemo, officiis? Corporis error fuga id impedit inventore, minima sint voluptates. Aut, eos,
            voluptatibus?</p>
        <p>Ab accusantium beatae consequuntur culpa cum dicta distinctio ducimus est facere facilis, laborum, molestiae
            mollitia nihil, optio perferendis quam recusandae saepe sunt veritatis vero voluptas voluptate voluptatibus.
            Repellat sed, totam!</p>
        <p>Dolores ex explicabo, molestiae pariatur perferendis tenetur veniam. Alias aut, deleniti dolorem enim et
            eveniet itaque natus non quas! Accusamus dignissimos dolore, dolorem eligendi excepturi nisi pariatur quas
            quasi voluptate.</p>
        <p>Accusamus aspernatur autem commodi consequatur delectus doloribus eaque excepturi facere illo, in incidunt
            ipsa ipsam laudantium modi nostrum possimus quae quaerat quidem quod quos ratione, sunt, voluptates!
            Doloribus, molestias voluptate.</p>
    </section>

{% endblock %}