<nav>
    <ul>
        <a href="{{ path('main_cgu') }}"><li>CGU</li></a>
        <a href="{{ path('main_legal_notice') }}"><li>Legal Notice</li></a>
        <a href="{{ path('main_about_us') }}"><li>About Us</li></a>
    </ul>
</nav>