<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}$ Agence Immo ${% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/icon.jpg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>
    <header>
        <a href="{{ path('accomodation_list') }}">
        <div>
            <h1>$ Agence Immo $</h1>
        </div>
        </a>
    </header>
    <main class="container">
        {% block body %}  {% endblock %}
    </main>
    <footer>
        {% include 'bodyStructure/footer-nav.html.twig' %}
    </footer>
    </body>
</html>
